a {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

a:hover {
    color: #ff9000;
    cursor: pointer;
    text-decoration: none;
}

.cartmain {
    margin: 0 auto;
    width: 1200px;
}

.cartmain2 {
    font-size: 15px;
    width: 1200px;
    margin: 20px auto 80px;
    min-height: 300px;
}

.cartmain2 table {
    border: 1px solid #bbb;
}

.cartmain2 thead {
    background: #ccc;
}

.cartmain2 tfoot {
    background: #ccc;
}

.cartmain2 img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.cartmain2 th {
    border: 1px solid #bbb;
    vertical-align: middle;
    text-align: center;
    height: 60px;
}

.cartmain2 td {
    border: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    height: 100px;
}

.cartmain2 .delete {
    cursor: pointer;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    background: #bbb;
    font: 16px/40px "";
    margin: auto;
}

.cartmain2 .delete:hover {
    background: #f90;
    color: #fff;
}

.cartmain2 .remove {
    cursor: pointer;
}

.cartmain2 .qx {
    width: 16px;
    height: 16px;
}

.numselect {
    height: 30px;
    width: 150px;
    margin: 0 auto;
}

.numselect .minNum,
.numselect .numtxt,
.numselect .maxNum {
    float: left;
    height: 30px;
    border: 1px solid #bfbfbf;
    text-align: center;
    padding: 0 10px;
    font: 15px/30px "simsun";
}

.numselect .numtxt {
    width: 66px;
    font-family: Arial;
}

.cart-mod-wrapper {
    width: 1200px;
}

.cart-mod-wrapper,
.cartmain {
    margin: 0 auto;
    width: 1200px;
}

.nogoods {
    color: #626262;
    background-color: #e4e4e4;
    padding: 1px 3px;
    margin-right: 2px;
    margin-left: 2px;
    white-space: nowrap;
}

.nogoods {
    width: 600px;
    margin: 100px auto;
    background: url(../images/c/nogoods_bg.png) no-repeat 55px 5px;
}

.nogoods p {
    width: 265px;
    text-align: left;
    font-size: 14px;
    padding: 86px 0 140px 303px;
}

.nogoods p a {
    margin: 0 5px;
    color: #28567e;
}