body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

em,
i,
b {
    font-style: normal;
    font-weight: normal;
}

img {
    border: 0;
    vertical-align: middle;
}

input,
select {
    vertical-align: middle;
}

:focus,
a {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    min-width: 1200px;
    font: 12px/1.5 Arial, Tahoma, Verdana, sans-serif, '\5b8b\4f53';
    color: #333;
    background-color: #f9f9f9;
}

.cl:after,
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.cl,
.clearfix {
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: #333;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

a:hover {
    color: #ff9000;
    text-decoration: none;
}

.corange {
    color: #ff9000;
}

.cred {
    color: #f00;
}

.area {
    width: 1200px;
    margin: 0px auto;
}